.main-container {
    flex: 1;
    background: #f0f2f4;
}

banner-wrap offset-y
.container {
    margin: 0 auto;
    width: 1500px;
}
.offset-y {
    margin-top: -70px;
}

.banner-wrap {
    position: relative;
    top: 65px;
    width: 100%;
    height: 800px;
    background: #ADD8E6;
}

.banner-wrap .img {
    position: relative;
    top: 65px;
    left: 0px;
    height: 700px;
    width: 100%;
    background-image: url("/static/data/IMG_3730.JPG"), url("/static/data/cx.JPG"), url("/static/data/IMG_3729.JPG");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 10% 50%, 50% 50%, 90% 50%;
    background-size: 700px, 200px, 700px;
}

.stars-wrap {
    position: relative;
    margin-top: -80px;
    line-height: 80px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2)
}

.stars-wrap .number {
    font-size: 40px;
    letter-spacing: 2px;
    color: #fff;
}

@media (min-width: 640px) {
    .banner-wrap img {
        display: none;
    }
}

@media (max-width: 640px) {
    .banner-wrap .img {
        display: block;
    }

    .banner-wrap img {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        margin-top: 80px;
    }
}

.test-image {
    font-size: 200px;
}

