{% extends 'base.html' %}

{% block title %}蝌蚪时期{% endblock %}

{% block content %}
    <div class="main-container">
    <div class="container">
    <div id="TopHere" class="subpage-wrap library-wrap icon-wrap">
        <div class="video">
            <h3 class="title">舞台</h3>
            <ul class="list">
                {% for i in range(kedou_wutai_n) %}
                    <li>
                        <a class="item video"
                           href={{ kedou_wutai['links'][i] }}
                                   id={{ kedou_wutai['ids'][i] }} target="_blank">
                            <div class="img-cover">
                                <img src="{{ url_for('static',filename='data/'+ kedou_wutai['images'][i] ) }}">
                                <p class="t">{{ kedou_wutai['titles'][i] }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <h3 class="title">经典名场面</h3>
            <ul class="list">
                {% for x in range(kedou_mcm_n) %}
                    <li>
                        <a class="item video"
                           href={{ kedou_mcm['links'][x] }}
                           id={{ kedou_mcm['ids'][x] }} target="_blank">
                            <div class="img-cover">
                                <img src="{{ url_for('static',filename='data/'+ kedou_mcm['images'][x] ) }}">
                                <p class="t">{{ kedou_mcm['titles'][x] }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}






